*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* SEZIONE HEADER GREY */
.header_grey{
    display: flex;
    height: 100%;
    background-color: #242424;
    padding: 0.5em;
}

#ubisoft_logo{
    height: 1.8em;
    width: 6em;
    margin-left: 1em;
   
}

#picture_header_grey{
    width: 2.72em;
    background-color: white;
    position:absolute;
    top: 0.2px;
    right: 0%;
    border: 9px solid black;
    cursor: pointer;
}


/* SEZIONE HEADER BLACK */

.header_black{
    display: flex;
    background-color: #0d0d0d;
    height: 3.35em;
    align-items: center;
    
}

.header_black h1{
    color: white;
    margin-left: 1em;
}

.header_black span{
    font-weight: 300;
}

.navigation{
    display: inline-flex;
    margin-left: 2.8em;
    
}

.navigation li{
    margin-right: 1em;
    color: #999999;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button, .select-language select:hover{
    cursor:pointer;
}   

#login_button{
position:absolute;
top: 3.8em;
right: 12.5%;
background-color: #e5e5e5;
padding: 0.6em 25px 0.8em 25px;
border-color: #e5e5e5;
border-radius: 20px;
color: black;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-weight: 900;
    
}

#download_button{
position:absolute;
top: 3.8em;
right: 1%;
background-color: #006ef5;
padding: 0.6em 40px 0.8em 40px;
border: 1px solid transparent;
border-color: #006ef5;
border-radius: 20px;
color:white;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-weight: 900;

}

/* SEZIONE HERO 1 */

.background_1{
    background-position: top;
    
}

.background_1-1{
    margin-left: 587px;
}

.background_1-2{
position: absolute ;
}

.first-text{
    position: absolute ;
    margin-top: 100px;
    margin-left: 150px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.first-text h1{
    font-size: xxx-large;
}

.first-button{
    position: absolute;
    background: linear-gradient(115.01deg, rgb(228, 150, 33) 5.43%, rgb(222, 22, 79) 100%);
    font-weight: 900;
    border-radius: 20px;
    padding: 0.6em 40px 0.8em 40px;
    border: none;

}

.images_above_background_1{
    position: absolute;
    border: 0px;
    padding: 0px;
    margin: 0px;
    margin-top: 300px;
    margin-left: 150px;
}

img [src="images/farcry.png"]{
    border-radius: 10px;
}