/* GENERAL */
@font-face { font-family: Ubisoft Sans; src: url(/Ubisoft-font/fonts/ubisoftsans-regular.otf); }
@font-face { font-family: Ubisoft Sans; font-weight: bold; src: url(/Ubisoft-font/fonts/ubisoftsans-bold.otf);}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubisoft Sans", sans-serif;
}

a{
    text-decoration: none;
}

a:visited{
    color: unset;
}

/* HEADER */

/* main + second navigation bar */

.mainbar{
    display: flex;
    background-color: black;
    color: white;
    justify-content: space-between;
    text-align: center;
    line-height: 7vh;
    font-size: 1rem;
    font-weight: 900;
    height: 7vh;
}

.centralbar{
    flex-grow: 20;
}

div.mainbar img:first-child{
    flex-grow: 3;
}

div.mainbar img:nth-child(3), div.mainbar img:nth-child(4){
    flex-grow: 1
}

.centralbar ul{
    display: flex;
    justify-content: center;
}

.centralbar li{
    flex-basis: 11%;
    list-style-type: none;
}

.mainbar img{
    height: 4vh;
    align-self: center;
}

/* MAIN */

/* section 1 */

/* main picture */

.hero{
    color: white;
    background-image: url("images/Eivor_female.webp");
    height: 60vh;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 52px;
}   

.opacity{

    height: 60vh;
    background-color: rgba(0, 0, 0, 0.3);
}

/* third navigation bar */

.bar3{
   color: rgb(87, 115, 240);
   text-align: center;
   margin-top: 20px;
}

.bar3 li{
   border-right: 3px solid black;
   padding-right: 5px;
   font-size: large;
}

/* Section 2 */

.big_container{
    margin: 80px 80px 50px 80px;
}

/* leftbox + rightbox */

.leftbox, .rightbox{
    height: 65vh;
    width: 49%;
}

.graycontent{
    height: 55vh;
    width: 100%;
    background-color: rgba(247, 247, 247, 0.986);
    padding-top: 40px;
}

.leftbox{
   float: left;
}

.rightbox{
    float: right;
}

.big_container::after{
    clear: both;
    content: '';
    display: table;
}

.sec2 h2{
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    padding-bottom: 27px;
}

.graycontent h3{
    font-size: 24px;
    font-weight: 700;
    padding-left: 35px;
    margin-bottom: 30px;
    margin-top: 15px;
}

.graycontent h4{
    color: rgb(87, 115, 240);
    display: inline-block;
}

.sx{
    float: left;
}

.fianco{
    float: left;
    padding-left: 15px;
    font-size: 18px;
    font-weight: bold;
}

.sotto {
    display: block;
    font-size: 14px;
    padding-top: 5px;
    font-weight: 100;
}

.pdfsolution::after{
    clear: both;
    content: '';
    display: table;
}

.pdfsolution{
    margin-left: 35px;
    margin-top: 0px;
    margin-right: 60px;
    margin-bottom: 0px;
    padding: 25px;
}

.pdfsolution:hover{
    background-color: rgba(104, 101, 101, 0.1);
}

/* button 1 */

/* section 3 */