/* GENERAL */
@font-face {
  font-family: Ubisoft Sans;
  src: url(/Ubisoft-font/fonts/ubisoftsans-regular.otf);
}
@font-face {
  font-family: Ubisoft Sans;
  font-weight: bold;
  src: url(/Ubisoft-font/fonts/ubisoftsans-bold.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubisoft Sans", sans-serif;
}

a {
  text-decoration: none;
}

a:visited {
  color: unset;
}

/* HEADER */

/* main navigation bar */

.mainbar {
  display: flex;
  background-color: black;
  color: white;
  justify-content: space-between;
  text-align: center;
  line-height: 7vh;
  font-size: 1rem;
  font-weight: 900;
  height: 7vh;
}

.centralbar {
  flex-grow: 20;
}

div.mainbar img:first-child {
  flex-grow: 3;
}

div.mainbar img:nth-child(3),
div.mainbar img:nth-child(4) {
  flex-grow: 1;
}

div.mainbar div:last-child {
  flex-grow: 1;
}

.centralbar ul {
  display: flex;
  justify-content: center;
}

.centralbar li {
  flex-basis: 11%;
  list-style-type: none;
}

.mainbar img {
  height: 4vh;
  align-self: center;
}

/* second navigation bar */

.bar2 {
  background-color: white;
  color: rgb(219, 38, 150);
  text-align: center;
  line-height: 7vh;
  font-size: 1rem;
  font-weight: 900;
  height: 7vh;
  width: 90%;
  margin: auto;
  border-bottom: 1px solid black;
}

.bar2 ul {
  display: flex;
}

.bar2 li {
  flex-basis: 12%;
  list-style-type: none;
}

header nav {
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 1;
  background-color: white;
}

main {
  margin-top: 14vh;
}

/* MAIN */

/* section 1 */

/* main picture */

.mainimage {
  color: white;
  background-image: url("images/Eivor_female.webp");
  height: 60vh;
  background-size: cover;
  background-position: center;
  position: relative;
}

.mainimage h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 52px;
}

.opacity {
  height: 60vh;
  background-color: rgba(0, 0, 0, 0.3);
}

/* third navigation bar */

.bar3 {
  color: rgb(89, 87, 240);
  text-align: center;
  background-color: white;
  line-height: 2vh;
  font-size: 1rem;
  font-weight: 900;
  height: 2vh;
  margin-top: 35px;
}

.bar3 ul {
  display: flex;
  justify-content: center;
}

.bar3 li {
  border-right: 3px solid black;
  padding-right: 5px;
  font-size: 17px;
  list-style-type: none;
  padding: 0px 15px;
}

/* Section 2 */

.newscontainer {
  display: flex;
  justify-content: center;
  margin-top: 7%;
}

.smallcontainer1 {
  display: flex;
  height: 450px;
  width: 44%;
  background-color: #f6f7fb;
  flex-direction: column;
  margin: 50px 15px;
  position: relative;
}

.smallcontainer1 > p:first-child {
  font-size: 35px;
  font-weight: 900;
}

.smallcontainer1 h2 {
  margin-top: 50px;
  margin-left: 30px;
}

.inner1 {
  display: flex;
  margin: 30px 30px 0px 30px;
  align-items: flex-end;
  padding: 20px;
}

.inner1 img {
  height: 6vh;
}

.wordright {
  margin-left: 15px;
}

div.wordright p:first-child {
  color: rgb(89, 87, 240);
  font-size: large;
  font-weight: 800;
  margin-top: 5px;
}

div.wordright p:last-child {
  color: gray;
  font-size: small;
  margin-top: 5px;
}

.inner1:hover {
  background-color: rgba(104, 101, 101, 0.1);
}

.inner2 {
  margin-top: 20px;
  margin-left: 60px;
}

.minibox {
  display: flex;
  font-size: 16px;
}

.minibox div:last-child {
  font-size: 18px;
  font-weight: bold;
  padding-left: 20px;
  margin-left: 10px;
}

.minibox p {
  border-left: 1px solid black;
  font-size: 16px;
  font-weight: initial;
  padding-left: 10px;
  color: gray;
  display: block;
  height: 40px;
}

/*Centramento titoli small containers*/

.smallcontainer1 > p:first-child {
  position: absolute;
  top: -70px;
  left: 50%;
  transform: translate(-50%);
}

/* button 1 */

.button1 {
  background-color: rgb(89, 87, 240);
  color: white;
  border-radius: 40px;
  font-size: large;
  padding: 28px 50px;
  font-weight: 900;
  text-align: center;
  border: 1px solid rgb(29, 174, 241);
  width: 22%;
  margin-left: 39%;
  margin-right: 39%;
  margin-bottom: 30px;
}

.button1:hover {
  background-color: rgba(87, 2, 245, 0.5);
  cursor: pointer;
}

/* section 3 - 4 - 5 - 6 - 8 - 9 - 10 */

.expmenu h2 {
  text-align: center;
  font-size: 38px;
}

.expandable p {
  background-color: #f6f7fb;
  font-size: x-large;
  margin: 50px 60px;
  padding: 30px;
}

.expandable p:active{
  border: 3px solid rgb(126, 154, 214);
}

.expmenu {
  margin: 135px 0px;
}

.expmenu.sec8 {
  margin-top: 250px;
}

.expmenu p span{
  font-size: 16px;
  float: right;
}

/* section 7 */

.social {
  display: flex;
  justify-content: center;
  width: 100%;
}
.socialtext {
  padding: 10%;
  margin-top: 10px;
}

.socialtext * {
  margin-bottom: 30px;
}

.socialsson,
.social img {
  background-color: black;
  color: white;
  font-weight: 900;
  flex-grow: 1;
  height: 500px;
  width: 50%;
}

.button2 {
  background-color: #d80388;
  color: white;
  border-radius: 40px;
  font-size: large;
  padding: 20px 40px;
  font-weight: 900;
  text-align: left;
  border: 1px solid rgb(10, 12, 14);
}

.socialsson h2 {
  font-size: xx-large;
}

.button2:hover {
  cursor: pointer;
  opacity: 0.9;
}

/*footer*/
